<html>
    <head>
        <title>Angular-human</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- load libraries -->
        <!-- Polyfill(s) for older browsers -->
        <script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/reflect-metadata/Reflect.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- configure systemjs -->
        <script src="systemjs.config.js"></script>
        <script>
            System.import('app').catch(function(err) {console.error(err)});
        </script>
    </head>

    <!-- display the application -->
    <body class="container text-center">
        <app>Loading...</app>
    </body>
</html>